@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.wrap {
    display: flex;
    font-family: Roboto Condensed, sans-serif;
    width: 1093px;
    margin: auto;
    margin-top: 70px;
    border: 3px solid #999;
    border-radius: 12px;
    background-color: #e6e3e3;
    font-weight: bold;
}

button {
    background-color: #FFFFFF;
    border: 2px solid #999;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    color: #FFFFFF;
    background-color: #999;
    cursor: pointer;
}

.product-wrap {
    padding-left: 10px;
    width: 452px;
    height: 550px;
    overflow: auto;
    box-sizing: border-box;
}

.product-wrap::-webkit-scrollbar {
    display: none;
}

.product-list>li {
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 35px 0;
    cursor: pointer;
}

.product-list>li.on>.product-emoji {
    text-shadow: 1px 1px 1px #a9a9a9, 0 0 20px #f00, 0 0 3px #994545;
}

.product-emoji {
    transition: all 0.4s ease;
    text-shadow: none;
    font-size: 35px;
}

.product-index {
    position: absolute;
    left: 5px;
    top: 2px;
    color: #999;
    font-size: 14px;
}

.product-price {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.product-select-wrap {
    width: 441px;
    height: 550px;
    border-left: 3px #999 solid;
    border-right: 3px #999 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-select-info-wrap {
    display: flex;
    line-height: 40px;
    margin-bottom: 30px;
}

.selected-product-index-wrap {
    margin-right: 10px;
    width: 100px;
    border: 2px #999 solid;
    text-align: right;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.inserted-cash-wrap {
    width: 260px;
    border: 2px #999 solid;
    text-align: right;
    box-sizing: border-box;
    background-color: #fff;
}

.cash-unit {
    margin-right: 20px;
}

.product-select-btns {
    display: flex;
    width: 370px;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-select-btns>button {
    font-size: 15px;
    width: 100px;
    height: 40px;
}

.product-select-log {
    width: 370px;
    height: 250px;
    border: 2px #999 solid;
    padding: 10px;
    box-sizing: border-box;
    line-height: 20px;
    overflow: auto;
    background-color: #fff;
}

.product-select-log::-webkit-scrollbar {
    width: 10px;
}

.product-select-log::-webkit-scrollbar-thumb {
    background-color: #2F3542;
}

.product-select-log::-webkit-scrollbar-track {
    background-color: #999;
}

.wallet-wrap {
    width: 200px;
    height: 550px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wallet-btns {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.wallet-btns button {
    width: 80px;
    height: 35px;
    margin-right: 10px;
}